html, body {
    background: #eaeaea;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: #520800;
}

.bg-black {
    background-color: black;
}

.bg-custom-white {
    background-color: #eaeaea;
}

.img-header-bg {
    background-image: url(../images/img_top.jpg);
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-size: cover;
}

.peredo {
    background-image: url(../images/aldo_lom.jpg);
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 570px;
}

.dinamarca {
    background-image: url(../images/imng_cubiewrta_leo.jpg);
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 570px;
}

.nosotros-desc {
    width: 300px;
    height: 100%;
    /* background-color: blue; */
    padding: 20px;
}






/* eliminar cuando este listo */
.box-image-450x450 {
    width: 450px;
    height: 450px;
    background-color: #520800;
    border: 5px white solid;
    align-items: center;
}

.box-image-300x300 {
    width: 300px;
    height: 300px;
    background-color: #520800;
    border: 5px white solid;
}

.box-slide {
    width: 100%;
    height: 400px;
    background-color: #520800;
    border: 5px white solid;
    color: white;
}
.test-alto {
    max-height: 570px;
    max-width: 100%;
}

.box-product-1 {
    height: 600px;
    width: 100%;
    background-color: #520800;
    border: 5px white solid;
}

.box-product-2-3 {
    height: 300px;
    width: auto;
    background-color: #520800;
    border: 5px white solid;
}

.box-nosotros-test {
    width: 100%;
    height: 570px;
    
}